.card {
    border: 1px solid #333;
    padding: 16px;
    margin: 16px;
    width: 300px;
  }
  
  .input-box, .output-box {
    border: 1px dashed #777;
    padding: 16px;
    margin: 8px 0;
    height: 100px;
    overflow-y: auto;
  }
  
  .input-box {
    background-color: #f9f9f9;
    text-align: center;
  }
  
  .output-box {
    background-color: #efefef;
    background-image: cover; }
  